# Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
# Turning a project folder path into a string

path = r'/Users/mart/Documents/06-2022 Instacart Basket Analysis'

In [3]:
# Importing the "products.csv"

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [4]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [5]:
# Importing the “orders_products_combined.pkl”

df_ords_prods_combined = pd.read_pickle(os.path.join (path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_time_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [7]:
# Checking the shape of df_ords_prods_combined

df_ords_prods_combined.shape

(32434489, 12)

In [8]:
# Checking the shape of df_prods

df_prods.shape

(49672, 5)

# Merging df_orders_prods_combined with  df_prods

In [9]:
# changed the "indicator = True" in "indicator = 'Check' because "_merge" already exists in the df_prods_combined

df_merged_all = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = 'Check')

In [10]:
df_merged_all.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_time_order,add_to_cart_order,reordered,_merge,Check
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,False,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,False,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,False,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,True,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,False,11,1,both,both

In [11]:
df_merged_all.isnull().sum()

product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
order_id                        0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2076096
first_time_order                0
add_to_cart_order               0
reordered                       0
_merge                          0
Check                           0
dtype: int64

In [11]:
df_merged_all.shape

(32404859, 17)

In [12]:
df_merged_all['Check'].value_counts()

both          32404859
left_only            0
right_only           0
Name: Check, dtype: int64

In [13]:
df_merged_all['Check'].value_counts(dropna = False)

both          32404859
left_only            0
right_only           0
Name: Check, dtype: int64

# Exporting df_merged_all

In [14]:
df_merged_all.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))