# Importing libraries

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
# turn a project folder path into a string

path = r'/Users/mart/Documents/06-2022 Instacart Basket Analysis'

In [3]:
# Import the 'ords_prods_merge.pkl'

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [4]:
# import 'departments'

departments = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = 0)

In [5]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_time_order,add_to_cart_order,reordered,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [6]:
ords_prods_merge.shape

(32404859, 20)

In [7]:
# find the aggregated mean of the “order_number” column grouped by “department_id”

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Both results indicate that the department with an ID of 5 (alcohol) has the lowest mean and the department with an ID of 21 (missing) has the highest mean, both across the entire dataframe and in the subset. 

The mean across the entire dataframe for the department with ID number 5 (alcohol) is around 15, whereas the mean for the department with ID number 21 (missing) is approximately 23. 

The amount was slightly bigger with a mean of approximately 25 for the department missing, and slightly lower with a mean of barely less than 15 for the alcohol department in the subset.

In [8]:
departments.head(21)

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
department_id,,,,,,,,,,,,,,,,,,,,,
department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,bulk,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [9]:
# locate loyalty customers

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_time_order,add_to_cart_order,reordered,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,3,New customer,4.972414,Low spender,9.0,Frequent customer

# Loyalty flag

In [11]:
# create a flag that assigns a “loyalty” label to a user ID based on its corresponding max order value

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [15]:
# check spending habits of the 'Loyal customer', 'Regular customer' and 'New customer'

ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773575  1.0  25.0
New customer      7.801206  1.0  25.0
Regular customer  7.798262  1.0  25.0

With an average price of 13.29, new customers pay the most for goods, followed by regular customers with an average price of 12.5. Loyal customers spend only 10.39 on average on the products, which is the lowest average price.

# Average price

In [16]:
# create the 'average_price' column

ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
ords_prods_merge['average_price']

0           6.935811
1           6.935811
2           7.930208
3           4.972414
4           4.972414
              ...
32404854    8.220313
32404855    7.364516
32404856    8.500344
32404857    8.500344
32404858    8.133333
Name: average_price, Length: 32404859, dtype: float64

In [18]:
# create a spending flag for each user based on the average price across all their orders

ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [19]:

ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [20]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     32285131
High spender      119728
Name: spending_flag, dtype: int64

# Median days since prior order

In [21]:
# create the "median_days_since_prior_order" column

ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [22]:
# create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [23]:
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [24]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [25]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [26]:
# mark outliers as missing (turn them into NaNs)

ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [27]:
# check if the replacement was successful

ords_prods_merge['prices'].max()

25.0

# Export data

In [28]:
# Export ords_prods_merge as a pickle file

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))