# Importing libraries

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

# Importing data

In [2]:
# turn a project folder path into a string

path = r'/Users/mart/Documents/06-2022 Instacart Basket Analysis'

In [3]:
# import customers.csv

df_cust = pd.read_csv(os.path.join (path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [4]:
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
df_cust.shape

(206209, 10)

In [6]:
df_cust.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [7]:
# import the "orders_products_merged.pkl"

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [8]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_time_order,add_to_cart_order,reordered,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [9]:
ords_prods_merge.shape

(32404859, 20)

In [10]:
# check the data types in ords_prods_merge

ords_prods_merge.dtypes

product_id                         int64
product_name                      object
aisle_id                           int64
department_id                      int64
prices                           float64
order_id                           int64
user_id                            int64
order_number                       int64
orders_day_of_week                 int64
order_hour_of_day                  int64
days_since_prior_order           float64
first_time_order                    bool
add_to_cart_order                  int64
reordered                          int64
max_order                          int64
loyalty_flag                      object
average_price                    float64
spending_flag                     object
median_days_since_prior_order    float64
order_frequency_flag              object
dtype: object

# Data check

In [11]:
# rename columns

df_cust.rename(columns = {'First Name' : 'first_name', 'Surnam' : 'surname', 'Gender' : 'gender', 'STATE': 'state', 'Age' : 'age'}, inplace = True)

In [12]:
df_cust.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [13]:
df_cust.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [14]:
# change 'user_id' column type from a number to a string

df_cust['user_id'] = df_cust['user_id'].astype('str')

In [15]:
# check if 'user_id' column is a string 

df_cust['user_id' ].dtype

dtype('O')

In [16]:
df_cust.describe()

                 age   n_dependants         income
count  206209.000000  206209.000000  206209.000000
mean       49.501646       1.499823   94632.852548
std        18.480962       1.118433   42473.786988
min        18.000000       0.000000   25903.000000
25%        33.000000       0.000000   59874.000000
50%        49.000000       1.000000   93547.000000
75%        66.000000       3.000000  124244.000000
max        81.000000       3.000000  593901.000000

In [17]:
# check for mix data types

for col in df_cust.columns.tolist():
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cust[weird]) > 0:
    print (col)

first_name

In [18]:
# change column 'first_name' into a string

df_cust['first_name'] = df_cust['first_name'].astype('str')

In [19]:
# check for missing values

df_cust.isnull().sum()

user_id         0
first_name      0
surname         0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [20]:
# check for duplicates

df_cust[df_cust.duplicated()]

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

In [21]:
# check 'user_id' data type in ords_prods_merge

ords_prods_merge['user_id' ].dtype

dtype('int64')

In [22]:
# change 'user_id' column type from a number to a string in ords_prods_merge

ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('str')

In [23]:
# check if 'user_id' column is a string 

df_cust['user_id'].dtype

dtype('O')

In [24]:
# change 'product_id' column type from a number to a string in ords_prods_merge

ords_prods_merge['product_id'] = ords_prods_merge['product_id'].astype('str')

In [25]:
ords_prods_merge['product_id'].dtype

dtype('O')

In [26]:
# change 'aisle_id' column type from a number to a string in ords_prods_merge

ords_prods_merge['aisle_id'] = ords_prods_merge['aisle_id'].astype('str')

In [27]:
ords_prods_merge['aisle_id'].dtype

dtype('O')

In [28]:
# change 'department_id' column type from a number to a string in ords_prods_merge

#ords_prods_merge['department_id'] = ords_prods_merge['department_id'].astype('str')

In [29]:
ords_prods_merge['department_id'].dtype

dtype('int64')

In [30]:
# change 'order_id' column type from a number to a string in ords_prods_merge

ords_prods_merge['order_id'] = ords_prods_merge['order_id'].astype('str')

In [31]:
ords_prods_merge['order_id'].dtype

dtype('O')

In [32]:
# change 'orders_day_of_week' column type from a number to a string in ords_prods_merge

ords_prods_merge['orders_day_of_week'] = ords_prods_merge['orders_day_of_week'].astype('str')

In [33]:
# check the data types in ords_prods_merge

ords_prods_merge.dtypes

product_id                        object
product_name                      object
aisle_id                          object
department_id                      int64
prices                           float64
order_id                          object
user_id                           object
order_number                       int64
orders_day_of_week                object
order_hour_of_day                  int64
days_since_prior_order           float64
first_time_order                    bool
add_to_cart_order                  int64
reordered                          int64
max_order                          int64
loyalty_flag                      object
average_price                    float64
spending_flag                     object
median_days_since_prior_order    float64
order_frequency_flag              object
dtype: object

In [34]:
# check for missing values

ords_prods_merge.isnull().sum()

product_id                             0
product_name                           0
aisle_id                               0
department_id                          0
prices                              5127
order_id                               0
user_id                                0
order_number                           0
orders_day_of_week                     0
order_hour_of_day                      0
days_since_prior_order           2076096
first_time_order                       0
add_to_cart_order                      0
reordered                              0
max_order                              0
loyalty_flag                           0
average_price                          0
spending_flag                          0
median_days_since_prior_order          5
order_frequency_flag                   5
dtype: int64

In [35]:
# check for duplicates

ords_prods_merge[ords_prods_merge.duplicated()]

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, first_time_order, add_to_cart_order, reordered, max_order, loyalty_flag, average_price, spending_flag, median_days_since_prior_order, order_frequency_flag]
Index: []

# Data merging

In [36]:
# merging df_cust and ords_prods_merge

cust_ords_prods_merge = df_cust.merge(ords_prods_merge, on = 'user_id', indicator = True)

In [37]:
cust_ords_prods_merge.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income,...,first_time_order,add_to_cart_order,reordered,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,order_frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,False,2,0,8,New customer,7.988889,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,False,1,1,8,New customer,7.988889,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,False,2,1,8,New customer,7.988889,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,True,1,0,8,New customer,7.988889,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,False,2,1,8,New customer,7.988889,Low spender,19.0,Regular customer,both

In [38]:
cust_ords_prods_merge.shape

(32404859, 30)

In [39]:
cust_ords_prods_merge['_merge'].value_counts(dropna = False)

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting the merged file

In [40]:
# Export cust_ords_prods_merge as a pickle file
%%time

cust_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'cust_ords_prods_merge.pkl'))